.navigation {
  background-color: #fff;
  box-shadow: var(--lightShadow);
  border-bottom: 2px solid var(--primaryColor);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 1.8rem;
  width: 20rem;
}

.nav-list {
  display: flex;
}

.nav-link {
  display: inline-block;
  padding: 2rem 1.5rem;
  font-size: 1.7rem;
  transition: all 0.2s;

  &:hover {
    background-color: var(--offWhite);
  }
}
